<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- <package id="avirafreeantivirus" /> (too old) -->
	<package id="dropbox" />
	<package id="peco" />
	<package id="recuva" />
	<package id="evernote" />
	<!-- <package id="vlc" /> -->
	<package id="kodi" />
	<package id="irfanview" />
	<package id="pt" /> <!-- The platinum searcher(Fast GREP) -->
	<package id="irfanviewplugins" />
	<package id="autohotkey" />
	<package id="winmerge-jp" />
	<!-- <package id="mery" /> --><!-- Text editor -->
	<package id="conemu" />
	<package id="nyagos" />
	<package id="github-hub" />	<!-- Hub - git command wrapper -->
	<package id="googlejapaneseinput" />
	<package id="GoogleChrome" />
	<package id="golang" />
	<package id="git.install" />
	<package id="hg" />
	<package id="7zip.install" />
	<package id="upx" />
	<package id="Everything" />
	<package id="mingw" />
	<package id="winmerge" />
	<package id="greenshot" /> <!-- Capture screenshot -->
	<package id="rapidee" /> <!-- Rapid Environment Editor -->
</packages>
